* { cursor: default; }
a:link, a:visited { color: inherit; cursor:pointer;}
a:link img { cursor:pointer; }
h1, h2 { font: inherit; }
body, header, footer, article, h1, h2, iframe { display: block; margin: 0; padding: 0; border: 0; }

/* PAINT & TYPE */

html {
  background: hsl(210, 0%, 33%);
  font: 19px/20px "Noteworthy-Light", "Calibri", "Gill Sans", sans-serif;
  color: hsla(0, 0%, 100%, 0.66);
  text-shadow: 0px -1px 1px hsla(0, 0%, 0%, 0.16);
}

b {
  font-family: "Noteworthy-Bold", "Calibri", "Gill Sans", sans-serif;
  font-weight: normal;
  color: hsla(0, 0%, 100%, 0.78);
}

/* LAYOUT */

body > header {
  position: fixed;
  z-index: 1;
  text-align: right;
}

article {
  margin: 40px 0;
  overflow: hidden;
}

#minipost img {
  display: block;
  float: left;
  margin: 10px;
  width: 300px;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.33);
  border-top: 14px solid hsl(0, 0%, 66%);
  padding: 1px 0px 0;
  background: hsla(0, 0%, 0%, 0.33);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#minipost img[alt="miniLock Postcard Home Page"] {
  width: 940px;
}

#minilock-chrome-app div.big.video {
  margin: 20px 10px 20px;
  box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.33);
}

#miniLockLib img {
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.33);
  border-top: 14px solid hsl(0, 0%, 66%);
  padding: 1px 0px 0;
  background: hsla(0, 0%, 0%, 0.33);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 300px;
  margin: 10px;
}

#miniLockLib img[alt="miniLockLib Home Page"] { float:left; }
#miniLockLib img[alt="Test Suite"] { float:right; }

#minilock-id-inspector img,
#minilock-file-format img {
  display: block;
  float: left;
  margin: 10px;
  width: 460px;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.33);
  border-top: 14px solid hsl(0, 0%, 66%);
  padding: 1px 0px 0;
  background: hsla(0, 0%, 0%, 0.33);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#is-it-a-minilock-id img {
  display: block;
  float: left;
  margin: 10px;
  width: 300px;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.33);
  border-top: 14px solid hsl(0, 0%, 66%);
  padding: 1px 0px 0;
  background: hsla(0, 0%, 0%, 0.33);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

body > article header {
  margin: 10px;
  text-align: center;
}

body > footer {
  position: fixed;
  z-index: 1;
}
body > footer img {
  display: block;
}
body > footer a {
  text-decoration: none;
  white-space: nowrap;
}

/* #### Basic screen #### */
@media screen and (max-width: 1440px) {
  body {
    width: 960px;
    margin: 60px auto 120px;
  }
  body > header {
    bottom: 38px;
    right: 50%;
    margin-right: 50px;
    height: 20px;
    z-index: 2;
    font: 19px/20px "Noteworthy-Light", "Calibri", "Gill Sans", sans-serif;
    color: hsl(0, 0%, 50%);
  }
  body > footer {
    bottom: 0px; right: 0px; left: 0;
    height: 60px;
    text-align: left;
    border-bottom: 18px solid hsl(0, 0%, 50%);
    background: hsl(210, 5%, 33%);
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.33);
    color: hsl(0, 0%, 50%);
  }
  body > footer img {
    margin: -15px auto 0;
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.33);
    width: 60px;
    height: 60px;
  }
  body > footer > a.view_source {
    position: fixed;
    bottom: 38px;
    right: 20px;
  }
  body > footer > a.github {
    position: fixed;
    bottom: 38px;
    left: 20px;
  }
  body > footer > a.miniLock_ID {
    position: fixed;
    bottom: 38px;
    right: 130px;
  }
}


/* #### Big screen #### */
@media screen and (min-width: 1440px) {
  body {
    width: 960px;
    margin: 60px auto;
  }
  body > header {
    height: 90px;
    bottom: 50%;
    right: 85%;
    width: 150px;
    font: 30px/30px "Noteworthy-Light", "Calibri", "Gill Sans", sans-serif;
    color: hsl(0, 0%, 50%);
  }
  body > footer {
    height: 60px;
    bottom: 30px;
    right: 85%;
    color: hsl(0, 0%, 50%);
  }
  body > footer img {
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.33);
    width: 60px;
    height: 60px;
  }
  body > footer > a.view_source {
    position: fixed;
    bottom: 150px;
    right: 85%;
  }
  body > footer > a.github {
    position: fixed;
    bottom: 210px;
    right: 85%;
  }
  body > footer > a.miniLock_ID {
    position: fixed;
    bottom: 180px;
    right: 85%;
  }
}
